<launch>
  <node pkg="uvc_cam2" type="sender" name="uvc_cam2" output="screen">
    <param name="width" type="int" value="160" />
    <param name="height" type="int" value="120" />
    <param name="fps" type="int" value="30" />
    <param name="motion_threshold_luminance" type="int" value="255" />
  </node>
</launch>
