<launch>
  <node name="icreate_driver" pkg="irobot_create_2_1" type="driver.py" />
  <node pkg="uvc_cam2" type="sender" name="uvc_cam2" output="screen">
    <param name="width" type="int" value="320" />
    <param name="height" type="int" value="240" />
    <param name="fps" type="int" value="30" />
    <param name="motion_threshold_luminance" type="int" value="255" />
  </node>
</launch>
